Makefile
Makefile.in
xcuserdata/
configure
autom4te.cache/
config.h.in
aclocal.m4
config.status
doc/texinfo.tex
config.log
ylwrap
compile
depcomp
vice/doc/texinfo.tex
missing
.deps/
vice/vice*.spec
vice/src/resid/siddefs.h
vice/src/resid-fp/siddefs-fp.h
vice/src/resid-dtv/siddtvdefs.h
vice/src/arch/unix/*/vice.info
vice/src/config.h
vice/src/stamp-h1
*.o
lib*.a
vice/src/c1541
vice/src/infocontrib.h
vice/src/translate.h
vice/po/POTFILES
vice/po/intl2po
*.dSYM/
vice/src/c64/psiddrv.o65
vice/src/cartconv
vice/src/petcat
